html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {

 background-color: #394371;
 colour: blue ; /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the screen */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Sends the background behind content */
}

header {
    background-color: #394371;
    color: #c8c8c8;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
header .logo h1 {
    margin-left: 20px;}
    
    .texth h2{
    margin-left: 20px;
    color: #c8c8c8}
    
    .subtext p {margin-left: 20px;
    color: #c8c8c8}
    
    .button {
  background-color:#5969b1;
  border-style: solid;
  border: #bfffff;
  color:#c8c8c8 ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}


.navbar-nav .nav-link {
  color: #a5a5a5;
  text-decoration: none;
}

.image img{
      width: 100%;
      position:relative; 
      left:20px;
      margin-left:200px;
      margin-right:20px;}

footer {
    background-color: #ffffff;
    color: #c8c8c8;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
